<div data-role="view" id="mainContent" data-layout="default">

    

    <div data-role="layout" data-id="default">
        <!--View content will render here-->
    </div>

    <div data-role="footer">
        <div data-role="tabstrip" data-selected-index="0">
            <a href="views/activitiesView.html" data-icon="home">News</a>
            <a href="views/contacts.html" data-icon="contacts">Class</a>
            <a href="views/contacts.html" data-icon="recents">Schedule</a>
            <a href="views/contacts.html" data-icon="bookmarks">Books</a>
            <a href="views/settings.html" data-icon="settings">Settings</a>
        </div>
    </div>
    
</div>